doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title=title
    link(rel='icon', href='/note.png')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    link(rel='stylesheet', href='/gnoter.css')
  body
    header
      nav.light-blue
        .container
          .nav-wrapper
            img(src="/note.png", width="100px")
            a.brand-logo
            p.right v1.0-kinda-works-beta13
      br
      br
      br
    main
      .container
        .row
          form.col.l12.s12#note-form
            .row
              div(aria-hidden=true).input-field.col.l6.s12
                i.fa.fa-key.prefix
                input(type="text", data-length=32)#key
                label(for="key").control-label Key
              div(aria-hidden=true).input-field.col.l6.s12
                i.fa.fa-lock.prefix
                input(type="password", data-length=32)#passcode
                label(for="passcode").control-label Passcode
            .row
              div(aria-hidden=true).input-field.col.l12.s12
                i.fa.fa-file-text.prefix
                textarea(rows=5, data-length=5000).materialize-textarea#content
                label(for="content").control-label Content
              p.right#dateUpdate
            br
            .row
              a(data-delay=50, data-tooltip='Save').btn-floating.btn-large.waves-effect.waves-light.light-blue.tooltipped#submit
                i.fa.fa-floppy-o
              span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              a(data-delay=50, data-tooltip='Get').btn-floating.btn-large.waves-effect.waves-light.light-green.tooltipped#update
                i.fa.fa-search
              span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              a(data-delay=50, data-tooltip='Clear').btn-floating.btn-large.waves-effect.waves-light.orange.tooltipped#clear
                i.fa.fa-eraser
            br
            .row#response
              .col.s12
                i.fa.fa-refresh.fa-spin.fa-2x.fa-fw.prefix
                span.sr-only Loading...
    footer.page-footer.blue.darken-1#slide-up
      .row
        .col.l1.s3.right
          a.btn-flat.waves-effect.waves-light.blue.lighten-1#help-button-collapse
            i.fa.fa-caret-square-o-down.white-text#help-button-down
            i.fa.fa-caret-square-o-up.white-text.help-button-hide#help-button-up
      .container
        .row#help-content
          .col.l4.s12
            h5.white-text What is this?
            p.grey-text.text-lighten-4 Use GNOTER to jot down notes and access them later, on any device.
          .col.l8.s12
            h5.white-text How does it work?
            ul(data-collapsible="accordion").collapsible.popout
              li
                .collapsible-header.blue.white-text Creating a new note
                .collapsible-body.white
                  p.grey-text.text-darken-3 Type in a unique key that you can memorize, then type in the content and hit the save 
                    i.fa.fa-floppy-o
                    |  button.
              li
                .collapsible-header.blue.white-text Accessing a note
                .collapsible-body.white
                  p.grey-text.text-darken-3 Type in the key, then either click the get 
                    i.fa.fa-search
                    |  button or switch to a different field, and the content should appear almost instantly.
        .footer-copyright
          .container
            span &copy; #{new Date().getFullYear()} Jiaping Zeng
            span.right
              a(href="http://gisar.me").grey-text.text-lighten-4 Visit my website
              |  | 
              a(href="http://paypal.me/jiapingzeng").grey-text.text-lighten-4 Feed me
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
  script(src='https://use.fontawesome.com/73bee02d58.js')
  script(src='/gnoter.js')
                      